VITE_API_URL=http://localhost:5000/api

# Google OAuth - isi dengan Client ID dari Google Cloud Console
# https://console.cloud.google.com/ > APIs & Services > Credentials
VITE_GOOGLE_CLIENT_ID=your_google_client_id

# Google reCAPTCHA v2
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
